.container {
    width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0400004f;
    font-size: 16px;
    color: black;
    outline: none;
    width: 300px;

}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #246287 0%, #be95be 100%);
    width: 200px;
}

.title {
    text-align: center;
    color: #246287;
    font-size: 24px;
    margin-bottom: 20px;
    background: transparent;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0400004f !important;
    color: #0400004f !important;
}

.table th {
    text-align: center;
    color: #246287 !important;
}

.tableContainer {
    width: 80%;
    overflow-x: auto;
}

.table td,
.table th {
    padding: 8px;
    text-align: center;
}

.deleteBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background:#be95be;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


@media (max-width: 850px) {
    .container {
        width: 90%;
        padding: 20px 10px;
        gap: 20px;
    }

    .input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .tableContainer {
        width: 100%;
    }
}